html
 head
  style(type="text/css").
   #review
   {
   background:yellow;
   }
  title List Test Words
 body
  ul
   each val, i in urlList
    li
     a(href=val)= headline_list[i]
     =extras[i]
  table#review
   tr
    td URL
    td= url
   tr
    td Regex
    td= re
   tr
    td Script
    td
     pre= k
   tr
    td Tag
    td= tag
  form(name="sFrm" method="POST" action="/add_target_confirm")
   input(type="hidden" name="url" value=url)
   input(type="hidden" name="re" value=re)
   input(type="hidden" name="k" value=k)
   input(type="hidden" name="tag" value=tag)
   input(type="submit" value="Submit")
